$main-title: #fff;
$second-title: #8eb2f4;
$third-title: #bd76d4;

$color-a: #fff;
$color-bover: black;

$color-white: white;
$color-black: black;
$color-purple: #b8b1d8;

$font-main: 'Interop';

$width-wide: 100%;
$width-half: 50%;

$break-small: 375px;
$break-medium: 768px;
$break-large: 1200px;